(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("tb.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "uart_rx_tb",
            ],
            id: Wellen((2)),
        ))),
        items_tree: (
            items: [
                (item_ref: (1),  level: 0, unfolded: true, selected: false),
                (item_ref: (2),  level: 1, unfolded: true, selected: false),
                (item_ref: (3),  level: 1, unfolded: true, selected: false),
                (item_ref: (4),  level: 0, unfolded: true, selected: false),
                (item_ref: (5),  level: 1, unfolded: true, selected: false),
                (item_ref: (6),  level: 1, unfolded: true, selected: false),
                (item_ref: (7),  level: 1, unfolded: true, selected: false),
                (item_ref: (8),  level: 1, unfolded: true, selected: false),
                (item_ref: (9),  level: 0, unfolded: true, selected: false),
                (item_ref: (10), level: 1, unfolded: true, selected: false),
                (item_ref: (11), level: 1, unfolded: true, selected: false),
                (item_ref: (12), level: 1, unfolded: true, selected: false),
                (item_ref: (13), level: 0, unfolded: true, selected: false),
                (item_ref: (14), level: 1, unfolded: true, selected: false),
                (item_ref: (15), level: 1, unfolded: true, selected: false),
                (item_ref: (16), level: 1, unfolded: true, selected: false),
                (item_ref: (17), level: 1, unfolded: true, selected: false),
                (item_ref: (18), level: 1, unfolded: true, selected: false),
                (item_ref: (19), level: 0, unfolded: true, selected: false),
                (item_ref: (20), level: 1, unfolded: true, selected: false),
                (item_ref: (21), level: 1, unfolded: true, selected: false),
                (item_ref: (22), level: 0, unfolded: true, selected: false),
                (item_ref: (23), level: 1, unfolded: true, selected: false),
                (item_ref: (24), level: 1, unfolded: true, selected: false),
                (item_ref: (25), level: 1, unfolded: true, selected: false),
                (item_ref: (26), level: 1, unfolded: true, selected: false),
                (item_ref: (27), level: 1, unfolded: true, selected: false),
                (item_ref: (28), level: 0, unfolded: true, selected: false),
                (item_ref: (29), level: 1, unfolded: true, selected: false),
                (item_ref: (30), level: 1, unfolded: true, selected: false),
                (item_ref: (31), level: 1, unfolded: true, selected: false),
                (item_ref: (32), level: 1, unfolded: true, selected: false),
            ],
        ),
        displayed_items: {
            (1): Group((
                name: "Clock & Reset",
                color: None,
                background_color: None,
                content: [],
                is_open: true,
            )),
            (2): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb"], id: Wellen((2))),
                    name: "clk",
                    id: Wellen((14)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb"], id: Wellen((2))),
                    name: "rst",
                    id: Wellen((17)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rst",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (4): Group((
                name: "Serial RX Chain",
                color: None,
                background_color: None,
                content: [],
                is_open: true,
            )),
            (5): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb"], id: Wellen((2))),
                    name: "rx_serial",
                    id: Wellen((18)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rx_serial",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb", "dut", "sync_FF"], id: Wellen((5))),
                    name: "ff",
                    id: Wellen((51)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "ff",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb", "dut"], id: Wellen((3))),
                    name: "in",
                    id: Wellen((28)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "in",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb", "dut"], id: Wellen((3))),
                    name: "in_prev",
                    id: Wellen((36)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "in_prev",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (9): Group((
                name: "FSM",
                color: None,
                background_color: None,
                content: [],
                is_open: true,
            )),
            (10): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb", "dut"], id: Wellen((3))),
                    name: "state",
                    id: Wellen((41)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "state [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb", "dut"], id: Wellen((3))),
                    name: "next_state",
                    id: Wellen((37)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "next_state [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb", "dut"], id: Wellen((3))),
                    name: "tick_rst",
                    id: Wellen((43)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "tick_rst",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (13): Group((
                name: "Counters / Timing",
                color: None,
                background_color: None,
                content: [],
                is_open: true,
            )),
            (14): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb"], id: Wellen((2))),
                    name: "tx_bit",
                    id: Wellen((22)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "tx_bit [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb", "dut"], id: Wellen((3))),
                    name: "tick",
                    id: Wellen((27)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "tick",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (16): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb", "dut", "oversample_tick"], id: Wellen((4))),
                    name: "cnt",
                    id: Wellen((48)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "cnt [6:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb", "dut"], id: Wellen((3))),
                    name: "tick_cnt",
                    id: Wellen((42)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "tick_cnt [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb", "dut"], id: Wellen((3))),
                    name: "data_cnt",
                    id: Wellen((35)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "data_cnt [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (19): Group((
                name: "Data",
                color: None,
                background_color: None,
                content: [],
                is_open: true,
            )),
            (20): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb"], id: Wellen((2))),
                    name: "exp_data",
                    id: Wellen((16)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "exp_data [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary (with groups)"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (21): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb"], id: Wellen((2))),
                    name: "rx_data",
                    id: Wellen((5)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rx_data [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary (with groups)"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (22): Group((
                name: "Flags / Result",
                color: None,
                background_color: None,
                content: [],
                is_open: true,
            )),
            (23): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb"], id: Wellen((2))),
                    name: "rx_valid",
                    id: Wellen((3)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rx_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (24): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb"], id: Wellen((2))),
                    name: "rx_error",
                    id: Wellen((4)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rx_error",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (25): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb"], id: Wellen((2))),
                    name: "exp_valid",
                    id: Wellen((2)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "exp_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (26): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb"], id: Wellen((2))),
                    name: "exp_error",
                    id: Wellen((1)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "exp_error",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (27): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb"], id: Wellen((2))),
                    name: "exp_corrupt",
                    id: Wellen((15)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "exp_corrupt",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (28): Group((
                name: "Checker",
                color: None,
                background_color: None,
                content: [],
                is_open: true,
            )),
            (29): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb"], id: Wellen((2))),
                    name: "checks",
                    id: Wellen((19)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "checks [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (30): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb"], id: Wellen((2))),
                    name: "errors",
                    id: Wellen((20)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "errors [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (31): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb"], id: Wellen((2))),
                    name: "frames_sent",
                    id: Wellen((21)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "frames_sent [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
            (32): Variable((
                variable_ref: (
                    path: (strs: ["uart_rx_tb"], id: Wellen((2))),
                    name: "valid_frames",
                    id: Wellen((23)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "valid_frames [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: Some(2.0),
                analog: None,
            )),
        },
        display_item_ref_counter: 33,
        viewports: [
            (
                curr_left: (0.0),
                curr_right: (1.0),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: None,
        markers: {},
        focused_item: None,
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: Seconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)
